html {
  background: linear-gradient(to right, #fffbc1,#fffb8e,#c1d6ff,#eac1ff);
}

body {
  font-family: sans-serif;
  text-align: center;
}

.page-title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.search-container {
  text-align: center;
}

.search {
  padding: 20px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
}

.search::placeholder {
  font-size: 15px;
}

.data-dump-title {
  margin-top: 200px;
}

/* table styles */
table {
  text-align: left;
  font-size: 12px;
  font-family: monospace;
  border-collapse: collapse;
  margin: 0 auto;
}

tr:nth-child(odd) {
  background-color: lightcyan;
}

tr:nth-child(even) {
  background-color: lightblue;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
}

th {
  min-width: 100px;
}
